@media (max-width:576px) {

    .modal-dialog {
      margin: auto;
    }
  
  }
  
  @media (max-width:420px) {
  
    .modal-dialog {
      max-width: 330px;
    }
  
    .modal-body {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
  
    .rule-img {
      width: 80%;
      padding-bottom: 10px;
    }
  
  }

  @media (max-width:420px) {
  
    .triangle-bg{
      height:150px;
      width:200px;
    
    }

    .stat-dashboard {
      border-radius: 5px;
      padding: 20px;
      margin: 7.5%;
    }

    .scoreboard {
      height: 100%;
      padding:5px;
      right: 10%;
      border-radius: 3px;
    }

    .score-title{
      letter-spacing: 0;
      padding: 0 15px;
    }

    .stat-dashboard h1{
      font-size: 1.3rem;
    }

    .stat-dashboard p{
      font-size: 0.5rem;
    } 

    .score-value p{
      font-size: 1.7rem;
    }

    /*Game Window related*/

    .rps-circle {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
    
    /* chosen */
    #game-window-chosen{
      padding:0;
    }

    .rps-circle-chosen {
      height: 145px;
      width: 145px;
      top: 12%;
      left: 12%;
    }

    .choice-header {
      display:none;
    }
    
    .choice-body {
      margin: 0;
      height: 40%;

    }

    .choice-footer{
      height: 60%;
      margin: 0;
      text-align: center;
      font-size: 0.7rem;
      letter-spacing: 0.05rem;
      display: block;
    }

    .choice-footer p{
      padding-top: 10%;
    }

    /* End of game window related*/

    .rule-btn {
      padding: 3px 30px;
      font-size: 1rem;
      right: 31%;
    }

    .attribution {
      font-size: 0.7rem;
    }
  
  }

  @media (max-width: 768px){
    .triangle-bg{
      width:50%;
    }
    
  }