body {
  background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  max-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: white;
}

h1 {
  padding: 0;
  margin: 0;
}

.small-line-height {
  line-height: 0.8;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.relative-position {
  position: relative;
}

/* FONT RELATED SETTINGS*/

.bold {
  font-weight: 700;
}

.dark-text {
  color: hsl(229, 25%, 31%);
}

.score-text {
  color: hsl(229, 64%, 46%);
}

/* Game stats custom classes */
.stat-dashboard {
  border: solid 3px hsl(217, 16%, 45%);
  border-radius: 15px;
  padding: 20px 30px 20px 25px;
  margin: 3% auto 3%;
}

.stat-dashboard h1 {
  font-size: 2.2rem;
}

.scoreboard {
  padding: 12px 40px 0;
  background-color: white;
  border-radius: 7.5px;
  position: absolute;
  right: 0;
}

.scoreboard p {
  margin: 0;
}

.score-title {
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
}

.score-value {
  font-size: 3rem;
  margin-top: -10px;
  text-align: center;
}

/* Game window general styles*/
#game-window-init,
#game-window-chosen {
  position: relative;
  height: 450px;
}

/* Initial Game window styles (step-1) */

#game-window-init {

  /*display:none;*/

}

.triangle-bg {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 66%;
  width: 25%;
}

.triangle-bg img {
  height: 100%;
  width: 100%;
}

/* Game window after choosing RPS (step-2) */

#game-window-chosen {
  display: none;
}

#game-window-chosen .row {
  height: inherit;
  margin: 0;
}

#game-window-chosen .content {
  height: 100%;
  margin: auto;
  padding: 0;
}

.choice {
  margin: 0;
  padding: 0;
  height: 100%;
}

.choice-header {
  height: 10%;
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
}

.choice-body {
  margin: 0;

  height: 90%;
  position: relative;
}

/*RPS buttons related styles */

.rps-circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.rps-circle-chosen {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 11%;
  left: 5%;
}

.paper-color {
  background: linear-gradient(135deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -6px 1px 2.5px hsla(230, 55%, 43%);
}

.rock-color {
  background: linear-gradient(135deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -6px 1px 2.5px hsla(346, 68%, 34%);
}

.scissors-color {
  background: linear-gradient(135deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -6px 1px 2.5px hsla(29, 57%, 44%);
}

.inner-circle {
  height: 75%;
  width: 75%;
  background-color: white;
  box-shadow: inset 0px 8px 2px 0.5px rgb(188, 188, 208);
  border-radius: 50%;
  position: absolute;
  top: 11.8%;
  left: 12.5%;
}

.inner-circle img {
  position: absolute;
  top: 25%;
  left: 27%;
  height: 50%;
}

.rule-btn {
  border: solid 2px hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 5px 30px 5px;
  color: white;
  letter-spacing: 0.15rem;
  margin: 5px 3% 5px 3px;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 5%;
}

/*Modal custom classes*/
.modal h1 {
  font-size: 1.7rem;
}

.modal-dialog {
  max-width: 401px;
}

.modal-body {
  padding: 2rem;
}

.rule-img {
  margin-top: 35px;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* End Result window */

#end-result {
  display: none;
}

.end-result {
  position: absolute;
  text-align: center;
  left: calc(100vw - 57.76%);
  top: 45%;
}

.play-again-btn {
  background-color: white;
  letter-spacing: 0.13rem;
  padding: 10px;
  border-radius: 8px;
}

.play-again-btn:hover {
  background-color: rgb(177, 177, 177);
}

.result-txt {
  font-size: 3.5rem;
  padding: 10px;
}