body {
  background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: white;

}

h1 {
  padding: 0;
  margin: 0;
}

.small-line-height {
  line-height: 0.8;
}

.align-center {
  text-align: center;
}

/* FONT RELATED SETTINGS*/

.bold {
  font-weight: 700;
}

.dark-text{
  color: hsl(229, 25%, 31%);
}

.score-text{
  color: hsl(229, 64%, 46%);
}

/* Game stats custom classes */
.stat-dashboard {
  border: solid 3px hsl(217, 16%, 45%);
  border-radius: 15px;
  padding: 20px 30px 20px 25px;
  margin: 3% auto 3%;
}

.stat-dashboard h1{
  font-size:2.2rem;
}

.scoreboard {
  padding:12px 40px 0;
  background-color: white;
  border-radius: 7.5px;
  position:absolute;
  right:0;
}

.scoreboard p{
  margin:0;
}

.score-title{
  font-size:0.7rem;
  letter-spacing: 0.15rem;
}

.score-value{
  font-size:3rem;
  margin-top:-10px;
}


/*Modal custom classes*/
.modal h1 {
  font-size: 1.7rem;
}

.modal-dialog {
  max-width: 401px;
}

.modal-body {
  padding: 2rem;
}

.rule-img {
  margin-top: 35px;
}

